# Handle line endings automatically for files detected as text 
# and leave binary files alone.
* text=auto

# Explicitly set behavior for specific file extensions
*.cs text eol=lf
*.gd text eol=lf
*.uid text eol=lf